.wrap{
  width: 800px;
  margin:0 auto;
}
.header{
  width: 800px;
  height: 89px;
}
.logo{
  width: 310px;
  height: 70px;
  display: block;
  float: left;
  background: url(images/logo.png)no-repeat;
}
.logo a{
  width: 60px;
  display: block;
  font-size:0px;
}
.top{
  width: 418px;
  height: 67px;
  margin:10px 10px 10px 370px;
  position: absolute;
}
.top ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}
.top ul li{
  display: inline;
  float: right;
  width: 63px;
  height: 67px;
  margin: 1 10 1 10;
}
.top li a{
  display: block; 
}
.content{
  width: 800px;
  height: 211px;
}
.word{
  width: 500px;
  height: 190px;
  float: left;
  padding-left:5px;
  padding-right:5px;
  margin-bottom: 5px;
}
.pic{
  width: 260px;
  height: 190px;
  float: right;
  padding-top: 20px;
}
.clean{
  clean:both;
}
.footer{
  width: 800px;
  height: 300px;
  margin-bottom:10px;
}
.left{
  width: 240px;
  height: 280px;
  background: #e0ffff;
  float: left;
  margin: 0px 16px 20px 10px;
}
.middle{
  width: 240px;
  height: 276px;
  background: #e0ffff;
  float: left;
  margin: 0px 16px 20px 10px;
}
.right{
  width: 240px;
  height: 276px;
  background: #e0ffff;
  float: left;
  margin: 0px 16px 20px 10px;
}
h2{
  color:#00bfff;  
}
h3{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color:#696969	;
}
h4{
  font-size:14px;
}
.footer h4{
  font-size:14px;
  color: #808080;
  margin: 10px; 
}
.footer img{
  top: 10px;
  left: 35px;
  right: 35px;
  padding: 3px 30px 0px 30px;
}